{% extends "base.html" %}

{% block title %}Sullivan Boyd - Alive & Kicking{% endblock %}

{% block content_Title %}Portal: Alive & Kicking{% endblock %}

{% block content %}
	<img src="{{ url_for('static', filename='aak_title.png') }}" class="listingimage"/>
	<p>
		Portal: Alive & Kicking is a total conversion of Portal 2 to remaster the orignal game.<br>
		In 2017, Valve Software gave us access to the source code so that the game could reach its full potential.
	</p>
	<p>
		As both a sound designer and sole programmer, I put extra care into creating new sound engine features that would give the game a distinct identity.
	</p>
	<p>
		These features were used both by myself and by level designers adding game sounds to levels.<br>
		Most of these features were implemented as a result of feedback from the rest of the team, or to alleviate playtester suggestions.
	</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/U9nmN-3sfjU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>
		One of the more unique features I implemented was a loop point modulator, which allows the loop cues of a sound to change dynamically, creating a sort of granular synthesis effect.<br>
		Building the loop modulator feature required modifying the Source Engine's sound engine on every level, from the sound operator scripting language all the way down to the lowest-level, oldest parts of the game engine.
	</p>
	<p>
		In-game, playtesters enjoyed the new music on bouncing energy balls, but were annoyed that they couldn't tell how long one would last before expiring.<br>
		With the new feature, I gave the energy balls an electronic glitch effect that would increase in intensity just before the ball expires.
	</p>
	<div class="imageGallery">
			<a href="#im0" class="thumb">
				<img src="https://i.imgur.com/GMjwqSx.png">
			</a>
			<a href="#im3" class="thumb">
				<img src="https://i.imgur.com/22yEMzI.png">
			</a>
			<a href="#im4" class="thumb">
				<img src="https://i.imgur.com/6Z5w9mM.png">
			</a>
		</div>
	<p>
		I also used the game's Squirrel scripting language and state machines combined with sound scripting to automate the music score based on the player's interaction with the mechanics.<br>
		In some maps, the music swells as the player flings themselves into the air through a portal, while energy balls, cubes, and the portals themselves all hum along, their ambient gameplay sounds tuned to the soundtrack.
	</p>
	<p>
		In others, the game uses a state machine to track which layers should sound as the player moves through a dangerous turret level.<br>
		A separate layer exists for the base level, the secret behind the scenes area, danger, and for defeating the turrets.
	</p>
	<p><strong>Responsibilities: </strong>I handled the programming, sounds, music, and some level design, especially for problem areas that needed scripting or IO help.<br>
		I also wrote descriptions for the Steam store page and produced in-world "investment videos" to play on the elevators at the beginning and end of levels.
	</p>
	<p>
		The music and sounds were produced in Ableton Live.
	</p>

	<a href="#_" class="lightbox" id="im0">
			<img src="https://i.imgur.com/GMjwqSx.png">
		</a>
	
		<a href="#_" class="lightbox" id="im3">
			<img src="https://i.imgur.com/22yEMzI.png">
		</a>
	
		<a href="#_" class="lightbox" id="im4">
			<img src="https://i.imgur.com/6Z5w9mM.png">
		</a>
{% endblock %}