{% extends "base.html" %}

{% block title %}Sullivan Boyd - UE4 Puzzle Game{% endblock %}

{% block content_Title %}UE4 Pipegame{% endblock %}

{% block content %}
	<img src="{{ url_for('static', filename='pipegame_title.png') }}" class="listingimage"/>
	<p>
		Pipegame is a prototype puzzle game I made for an Interactive Music in Games course in my second year.<br>
		It was designed to teach players some basic concepts of music theory.<br>
		Players must guide the flow of colored fluids through pitched pipes to the exit under the constraints of the puzzle.
	</p>
	<p>
		I wrote Pipegame in Unreal Engine 4, using both Blueprints and C++.<br>
		It integrates FMOD Studio for all of the sound.
	</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/i7pmLFzyMBM?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>
		All of the game events are triggered through callbacks in the sound engine.<br>
		For example, a series of puzzle elements (like the pipes filling), is all linked to a musical timeline such that they fit in a single measure of music.<br>
		This allows for the player to solve the puzzle on their own time, but the solutions will always be executed musically.
	</p>
	<div class="imageGallery">
		<a href="#im0" class="thumb">
			<img src="{{ url_for('static', filename='pipegame0.png') }}">
		</a>
		<a href="#im1" class="thumb">
			<img src="{{ url_for('static', filename='pipegame1.png') }}">
		</a>
		<a href="#im3" class="thumb">
			<img src="{{ url_for('static', filename='pipegame3.png') }}">
		</a>
		<a href="#im4" class="thumb">
			<img src="{{ url_for('static', filename='pipegame4.png') }}">
		</a>
	</div>

	<a href="#_" class="lightbox" id="im0">
			<img src="{{ url_for('static', filename='pipegame0.png') }}">
	</a>

	<a href="#_" class="lightbox" id="im1">
			<img src="{{ url_for('static', filename='pipegame1.png') }}">
	</a>

	<a href="#_" class="lightbox" id="im3">
			<img src="{{ url_for('static', filename='pipegame3.png') }}">
	</a>

	<a href="#_" class="lightbox" id="im4">
			<img src="{{ url_for('static', filename='pipegame4.png') }}">
	</a>
{% endblock %}