{% extends "base.html" %}

{% block title %}Sullivan Boyd - Projects{% endblock %}

{% block content_Title %}Projects{% endblock %}

{% block content %}
<a href="/projects/aliveandkicking" class="projectentry">
	<img src="{{ url_for('static', filename='aak_title.png') }}">
	<h1>PORTAL: ALIVE & KICKING</h1>
</a>
<br/>
<a href="/projects/modsmaps" class="projectentry">
	<img src="{{ url_for('static', filename='mods_title.png') }}">
	<h1>MODS, MAPS, & UGC</h1>
</a>
<br/>
<a href="/projects/germination" class="projectentry">
	<img src="{{ url_for('static', filename='germ_title.png') }}">
	<h1>GERMINATION</h1>
</a>
<br/>
<a href="/projects/pipegame" class="projectentry">
	<img src="{{ url_for('static', filename='pipegame_title.png') }}">
	<h1>UE4 MUSIC PUZZLE GAME</h1>
</a>
{% endblock %}