body, html {font-family: 'Roboto', sans-serif;}
h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	margin-top: 0;
}

h2 {
	font-size: 24px;
}

a {
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	font-size: 18px;
}

.wrapper > * {
	padding: 10px;
	flex: 1 0px;
}

.listing > * {
	margin-top: 0;
	margin-left: 5%;
	margin-right: 5%;
}

.listingimage {
	max-width: 80%;
}

.indextable {
	display: flex;
	flex-flow: row wrap;
	text-decoration: none;
	background-color: #222222;
	color: white;
}

.indextable > div > h1 {
	text-align: center;
}

.indextable > div {
	flex: 0 1 30%;
	max-width: 33.3%;
}

.about > p {
	margin-left: 0.3em;
}

.blog > * > a {
	color: white;
}

.projectentry {
	display: flex;
	flex-flow: row wrap;
	text-decoration: none;
	background-color: black;
	transition: all .2s ease-in-out;
}

.projectentry > * {
	flex: 0 1 50%;
	color: white;
	text-decoration: none;
	padding: 1%;
	max-width: 40%;
	transition: all .2s ease-in-out;
}

.projectentry:hover > * {
	background-color: #222222;
}

.projectentry:hover {
	background-color: #222222;
}

.projectentry > h1 {
	margin-top:auto;
	margin-bottom: auto;
	color: white;
	font-size: 3em;
}

.listing > h2 {
	margin-bottom: 0;
}

.listing > h1 {
	margin-bottom: 0;
	font-size: 30px;
}

.listing > p {
	margin-bottom: 1.3em;
}

.header {
	position: fixed;
	background: white;
	right: 0;
	left: 0;
	top: 0;
	font-size:48px;
	z-index: 900;
}

.header > a {
	color: black;
	text-decoration: none;
}

.header > a > * {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

.fakeheader {
	flex: 0 1 100%;
	font-size: 48px;
	order: 1;
}

.fakeheader > * {
	color: white;
}

.main {
	text-align: left;
	order: 3;
	flex-basis: 60%;
	margin-right: 2em;
	margin-left: 1em;
}

.navigation {
	order: 2;
	font-size: 36px;
	text-align: left;
}

.navLink {
	position: fixed;
	color: black;
	color-visited: black;
}

.portfolio > * {
	text-decoration: none;
	color: white;
}

#portfoliosplash {
	max-width: 80%;
	margin-left: 1em;
	margin-right: 1em;
}

/* Lightbox Thumbnails */
.imageGallery {
	display: flex;
	flex-flow: row wrap;
	margin-left: 0%;
	margin-right: 0%;
	justify-content: space-evenly;
}

.thumb {
	margin-bottom: 2%;
	margin-left: 1px;
	margin-right: 1px;
	background-color: #222222;
	flex: 0 1 32%;
	max-width: 80%;
	min-width: 25%;
	overflow: hidden;
}

.thumb > img {
	background-color: #222222;
	width: 100%;
	height: 100%;
	transition: all .2s ease-in-out;
}

.thumb > img:hover {
	transform: scale(1.1);
	opacity: 0.85;
}

/* lightbox */
.lightbox {
	display: none;
	position: fixed;
	z-index: 999;	
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	margin: 0;
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	outline: none;
	display: block;
}

@media only screen and (orientation: portrait), only screen and (max-width: 800px) {
	body {
		width: 100%;
		margin: 0;
	}
	.main { flex-basis: 100%; margin-left: 0; margin-right: 0; }
	.navLink { position: static; }
	.header {
		position: static;
	}

	.fakeheader {
		display: none;
	}

	.indextable > div {
		flex: 0 1 100%;
		max-width: 100%;
	}

	.projectentry > * {
		flex: 0 1 100%;
		max-width: 100%;
		max-height: 100%;
		width: 100%;
	}
}