body, html {font-family: 'Roboto', sans-serif;}
h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin-top: 0;
}

h2 {
	font-size: 24px;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	font-size: 16px;
}

.wrapper > * {
	padding: 10px;
	flex: 1 0px;
}

.listing > * {
	margin-top: 0;
}

.projectentry {
	display: flex;
	flex-flow: row wrap;
	text-decoration: none;
}

.projectentry > * {
	flex: 1 50%;
}


.listing > h2 {
	margin-bottom: 0;
}

.listing > h1 {
	margin-bottom: 0;
	font-size: 30px;
}

.listing > p {
	margin-bottom: 1.25em;
}

.header {
	flex: 1 100%;
	font-size: 48px;
	order: 1;
}

.main {
	text-align: left;
	order: 3;
	flex-basis: 60%;
	margin-right: 2em;
	margin-left: 1em;
}

.navigation {
	order: 2;
	font-size: 36px;
	text-align: left;
}

.navLink {
	position: fixed;
	color: black;
	color-visited: black;
}

@media only screen and (orientation: portrait), only screen and (max-width: 800px) {
	.main { flex-basis: 100%; }
	.navLink { position: static; }

	.projectentry > * {
		flex: 1 100%;
	}
}