<!doctype html>
<head>
	<title>Sullivan Boyd - Programmer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:200&display=swap" rel="stylesheet"> 
	<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='base.css') }}/>
	<meta name="robots" content="follow">
	{% block extra_head %}{% endblock %}
	{% block extra_scripts %}{% endblock %}
</head>

<body>
	<div class="header">
		<h1>Sullivan Boyd</h1>
	</div>
	<div class="wrapper">
		<div class="fakeheader">
			<h1>Sullivan Boyd</h1>
		</div>
		
		<div class="main">
			{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert alert-{{ category }} alert-dismissable">
					<p>{{ message }}</p>
				</div>
			{% endfor %}
			<div class="listing">
				{% block page_header %}
					<h1>{% block content_title %}{%endblock %}</h1>
				{% endblock %}
			
				{% block content %}{% endblock %}
			</div>
		</div>

		<div class="navigation">
			<a class="navLink" href="{{ url_for('static', filename='about.html') }}">about</a><br/>
			<a class="navLink" href="/blog">blog</a><br/>
			<a class="navLink" href="/projects/">projects</a></br>
			<a class="navLink" href="https://github.com/dot-operator">github</a></br>
			<!-- <p class="timestamp">Sullivan Boyd 2019</p> -->
		</div>
	
	</div>
</body>
