{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content_title %}Edit Post{% endblock %}

{% block content %}
<form action="{% block form_action %}{{ url_for('edit', slug=entry.slug) }}{% endblock %}" method=post>
<p><input type=file name=file>
		<p>TITLE:</p><input type=text name="title" value="{{ request.form.get('title', entry.title) }}"></br>
		<p>CONTENT:</p><textarea rows="10" cols="80" name=content>
			{{ request.form.get('content', entry.content) }}
		</textarea></br>
		<p>TAGS:</p><input type=text name="tags" value="{{ request.form.get('tags', entry.tags) }}"></br>
		<input type=submit value=Upload>
</p></form>
{% endblock %}