<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>Cool Files</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='gifstyles.css') }}"/>
</head>

<body>
	<h1>The <em>vansul.li</em> GIFS Collection</h1>
	<p>    </p>
	{% for entry in pics %}
		<a href="http://vansul.li/{{entry}}"><div id="photoframe"><img src="http://vansul.li/{{entry}}"/>
		<p>{{entry}}</p>
	{% endfor %}
	<br/>
	<footer>
	<p><em>Eternally</em> and <i>automagically</i> up-to-date with the latest in <em><a href="http://vansul.li/>vansul.li</a></em> shitposting...</p>
	</footer>
</body>